@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'EuclidCircularA', sans-serif;
}

.card-mogo{
  border: 1px solid #e7eeec;
  border-radius: 40px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .1);
  background-color: #ffffff;
}

.btn-mogo{
    padding-top: calc(16px - 1px);
    padding-bottom: calc(16px - 1px);
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    line-height: 16px;
    border: solid;
    border-width: 1px;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: inline-block;
    gap: 8px;
    -webkit-transition: border-radius .15s;
    transition: border-radius .15s;
    color: #001E2B;
    stroke: #001E2B;
    fill: #001E2B;
    border-color: #001E2B;
    background-color: #00ED64;
    margin-right: 0;
    letter-spacing: 0.16px;
    font-weight: 600
}